* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
.title {
  font-size: 70px;
  max-width: 700px;
  font-family: Arial;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://ex.smnarnold.com/git/radars-vivants/fillette-de-dos.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  color: #161616;
  padding: 50px;
  line-height: 2em;
}

.video {
  width: 100vw;
}
